dataset:
  #root_dir: "/projectnb/nphfnirs/ns/Shannon/Data/Interactive_Walking_HD"
  #root_dir: "/projectnb/nphfnirs/s/datasets/BSMW_Laura_Miray_2025/BS"
  root_dir: "D:/fNIRS/DATA/Interactive_Walking_HD"
  derivatives_subfolder: "cedalion"
  subject: ["01", "02"]            # , "03", "05"]
  task: ["STS"]                    # , "BS"
  run: ["01"]                      # , "02", "03"

hrf:
  stim_lst: ["STS"]
  t_pre: "5 second"
  t_post: "33 second"

preprocess:
  steps:
    median_filter:
      enable: true
      order: 1

    prune:
      enable: false
      snr_thresh: 5
      sd_thresh:
        - "1 mm"
        - "60 mm"
      amp_thresh:
        - 1e-3
        - 0.84
      perc_time_clean_thresh: 0.6
      sci_threshold: 0.6
      psp_threshold: 0.1
      window_length: "5 second"
      flag_use_sci: true
      flag_use_psp: false

    int2od:
      enable: true

    calc_slope_b4:
      enable: true

    calc_gvtd_b4:
      enable: true

    imu_glm:
      enable: false
      statesPerDataFrame: 89
      hWin: [-3, 5, 1]
      n_components: [3, 2]
      butter_order: 4
      Fc: 0.1
      plot_flag_imu: true

    tddr:
      enable: true

    calc_slope_after:
      enable: true

    calc_gvtd_after:
      enable: true

    freq_filter:
      enable: true
      fmin: "0.01 Hz"
      fmax: "0.5 Hz"

    od2conc:
      enable: true

    GLM_filter:
      enable: false
      drift_order: 1
      distance_threshold: "20 mm"
      short_channel_method: "mean"
      noise_model: "ols"
      t_delta: "1 second"
      t_std: "1 second"

    plot_dqr:
      enable: true

blockaverage:
  enable: true
  rec_str: "od_02"
  trange_hrf_stat: [10, 20]
  
groupaverage:
  enable: true
  mse_conc:
   mse_val_for_bad_data: "1e7 micromolar**2"
   mse_min_thresh: "1e0 micromolar**2"
   blockaverage_val: "0 micromolar**2"
  mse_od:
   mse_val_for_bad_data: 1e1
   mse_min_thresh: 1e-6
   blockaverage_val: 0
   
   
